DB_URL=jdbc:postgresql://localhost:5432/financialapp?currentSchema=investments
DB_USERNAME=financialapp
DB_PASSWORD=changeme
IOL_BASE_URL=https://api.invertironline.com
IOL_USERNAME=your_iol_email
IOL_PASSWORD=your_iol_password
IOL_PRICE_REFRESH_CRON=0 */15 10-17 * * MON-FRI
